<div class="container mt-4">
    <h3 class="mb-4 text-center">Explore</h3>
    <div class="text-center mb-4">
        <input type="text" class="form-control explore-search" #searchInput placeholder="Search" (input)="searchPosts($event)" (keypress)="searchPosts($event)">
      </div>
    
      <div class="row" *ngFor="let post of filteredPosts">
        <!-- Filtered Posts -->
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="card mb-4 post-container">
            <img [src]="post.image" *ngIf="post.image" alt="Post" class="card-img-top explore-image">
            <div class="card-body">
              <h5 class="card-title post-title" id={{post.id}}>{{ post.formatedTitle?post.formatedTitle : post.title }}</h5>
              <p class="card-text post-body">{{ post.body }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>    

      <h2 class="mb-4 text-center">...</h2>
    <div class="row" *ngFor="let post of postsWithImages">
      <!-- Posts with images -->
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="card mb-4 post-container">
          <img [src]="post.image" alt="Post" class="card-img-top explore-image">
          <div class="card-body">
            <h5 class="card-title post-title">{{ post.formatedTitle?post.formatedTitle : post.title }}</h5>
            <p class="card-text post-body">{{ post.body }}</p>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      </div>
      
      <!-- Posts without images -->
      <div class="row" *ngFor="let post of postsWithoutImages">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="card mb-4 post-container">
          <div class="card-body">
            <h5 class="card-title post-title">{{ post.formatedTitle?post.formatedTitle : post.title }}</h5>
            <p class="card-text post-body">{{ post.body }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <button class="btn btn-sm btn-info" (click)="topFunction();" id="myBtn" title="Go to top"><i class="gg-chevron-up-r"></i></button>
  </div>