.footer {
  background-color: #a4d2ff;
  // color: #ffffff;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  position: fixed;
  bottom: 0!important;
  width: 100%;
  box-shadow: -6px -7px 15px 5px rgba(235, 243, 255, 0.8588235294);
  margin-top: 100px;
}


.separator
{
  height: 25vh;
}

.brName
{
  font-family: cursive;
  font-weight: lighter;
}